{:amelinium.i18n/translations
 {:en
  {:ok                "Success!"
   :error             {:ok             "Success!"
                       :authorization  "Access denied."
                       :authentication "Authentication error."
                       :session        "Session error."
                       :bad-parameters "Your application has sent bad parameters."}
   :session           {:ok                   "Session is correct."
                       :unknown-session-id   "Unknown session ID has been received."
                       :no-session-id        "No required session ID."
                       :malformed-session-id "Malformed session ID."
                       :malformed-user-id    "User ID is invalid."
                       :malformed-user-email "User e-mail is invalid."
                       :bad-creation-time    "Session creation time is incorrect."
                       :bad-last-active-time "Last active time is incorrect."
                       :expired              "Session expired. Please authenticate again."
                       :insecure             "No required secure token found."
                       :bad-security-token   "Bad security token has been received."
                       :bad-ip               "Current IP address is different than the IP address from which this session has been opened."
                       :db-problem           "Temporary problem accessing session database."
                       :unknown-error        "Unknown session error."
                       :missing              "Session is missing."}
   :auth              {:ok            "Login successful!"
                       :session-error "Error during session initialization! Try again in a few minutes and contact support if this error persists."
                       :locked        "Account is locked! Contact support if you think it's a mistake."
                       :soft-locked   "Access is blocked temporarily due to exceeded number of log-in attempts."
                       :bad-password  "Incorrect user name or password."}
   :roles-table       {:present-label "YES"
                       :missing-label "—"
                       :global-label  "[ANY]"
                       :global-marker " (global)"
                       :context-label "Context"
                       :roles-label   "Roles"}
   :roles             {:admin     "Organization Admin"
                       :manager   "Organization Manager"
                       :tester    "Tester"
                       :anonymous "Anonymous User"
                       :known     "Logged-out User"
                       :user      "Logged-in User"
                       :self      "Resource Owner"
                       :banned    "Account Blocked"}
   :tongue/pluralizer amelinium.i18n.pluralizers/en}}}

