{:amelinium.i18n/translations
 {:en
  {:amelinium/missing-key "Missing key: {1}"
   :http-code             {:100 "Continue"
                           :101 "Switching Protocols"
                           :102 "Processing"
                           :103 "Early Hints"
                           :200 "OK"
                           :201 "Created"
                           :202 "Accepted"
                           :203 "Non-Authoritative Information"
                           :204 "No Content"
                           :205 "Reset Content"
                           :206 "Partial Content"
                           :207 "Multi-Status"
                           :208 "Already Reported"
                           :226 "IM Used"
                           :400 "Bad Request"
                           :401 "Unauthorized"
                           :402 "Payment Required"
                           :403 "Forbidden"
                           :404 "Not Found"
                           :405 "Method Not Allowed"
                           :406 "Not Acceptable"
                           :407 "Proxy Authentication Required"
                           :408 "Request Timeout"
                           :409 "Conflict"
                           :410 "Gone"
                           :411 "Length Required"
                           :412 "Precondition Failed"
                           :413 "Request Entity Too Large"
                           :414 "Request URI Too Long"
                           :415 "Unsupported Media Type"
                           :416 "Requested Range Not Satisfiable"
                           :417 "Expectation Failed"
                           :418 "I'm A Teapot"
                           :420 "Enhance Your Calm"
                           :421 "Misdirected Request"
                           :422 "Unprocessable Entity"
                           :423 "Locked"
                           :424 "Failed Dependency"
                           :425 "Too Early"
                           :426 "Upgrade Required"
                           :428 "Precondition Required"
                           :429 "Too Many Requests"
                           :431 "Request Header Fields Too Large"
                           :449 "Retry With"
                           :450 "Blocked By Windows Parental Controls"
                           :451 "Unavailable For Legal Reasons"
                           :500 "Internal Server Error"
                           :501 "Not Implemented"
                           :502 "Bad Gateway"
                           :503 "Service Unavailable"
                           :504 "Gateway Timeout"
                           :505 "HTTP Version Not Supported"
                           :506 "Variant Also Negotiates"
                           :507 "Insufficient Storage"
                           :508 "Loop Detected"
                           :509 "Bandwidth Limit Exceeded"
                           :510 "Not Extended"
                           :511 "Network Authentication Required"
                           :598 "Network Read Timeout"
                           :599 "Network Connect Timeout"}
   :ok                    "Success!"
   :error                 {:ok              "Success!"
                           :authorization   "Access denied."
                           :authentication  "Authentication error."
                           :session         "Session error."
                           :bad-parameters  "Your application has sent bad parameters."
                           :parameters      "Invalid parameters."
                           :parameter       "Parameter {1} in invalid."
                           :named-parameter "{1} needs a fix."}
   :session               {:ok                   "Session is correct."
                           :unknown-session-id   "Unknown session ID has been received."
                           :no-session-id        "No required session ID."
                           :malformed-session-id "Malformed session ID."
                           :malformed-user-id    "User ID is invalid."
                           :malformed-user-email "User e-mail is invalid."
                           :bad-creation-time    "Session creation time is incorrect."
                           :bad-last-active-time "Last active time is incorrect."
                           :expired              "Session expired. Please authenticate again."
                           :insecure             "No required secure token found."
                           :bad-security-token   "Bad security token has been received."
                           :bad-ip               "Current IP address is different than the IP address from which this session has been opened."
                           :db-problem           "Temporary problem accessing session database."
                           :unknown-error        "Unknown session error."
                           :missing              "Session is missing."}
   :auth                  {:ok            "Login successful!"
                           :session-error "Error during session initialization! Try again in a few minutes and contact support if this error persists."
                           :locked        "Account is locked! Contact support if you think it's a mistake."
                           :soft-locked   "Access is blocked temporarily due to exceeded number of log-in attempts."
                           :bad-password  "Incorrect user name or password."}
   :roles-table           {:present-label "YES"
                           :missing-label "—"
                           :global-label  "[ANY]"
                           :global-marker " (global)"
                           :context-label "Context"
                           :roles-label   "Roles"}
   :roles                 {:admin     "Organization Admin"
                           :manager   "Organization Manager"
                           :tester    "Tester"
                           :anonymous "Anonymous User"
                           :known     "Logged-out User"
                           :user      "Logged-in User"
                           :self      "Resource Owner"
                           :banned    "Account Blocked"}
   :parameter             {:phone            "Phone number"
                           :email            "E-mail address"
                           :login            "Login"
                           :password         "Password"
                           :password-relaxed "Password"
                           :name             "Name"
                           :last-name        "Last name"
                           :second-name      "Second name"
                           :middle-name      "Middle name"
                           :token            "Token"
                           :session-id       "Session identifier"
                           :language         "Language identifier"
                           :lang             "Language identifier"}
   :parameter-description {:phone            "Phone number should contain a country code with a plus sign."
                           :email            "E-mail address should have a local part and a valid domain name."
                           :login            "Login should be a valid e-mail address."
                           :password         "Password should be at least 8 characters long, having big and small letters, a digit and a special character."
                           :password-relaxed "Password should be present."
                           :name             "Name should consist of regular characters with optional hyphen and cannot have blanks (like space)."
                           :last-name        "Last name should consist of regular characters with optional hyphen and cannot have blanks (like space)."
                           :second-name      "Second name should consist of regular characters with optional hyphen and cannot have blanks (like space)."
                           :middle-name      "Second name should consist of regular characters with optional hyphen and cannot have blanks (like space)."
                           :token            "Token should be a string expressing hexadecimal number."
                           :session-id       "Session ID should be a string consisting of one or two hexadecimal numbers."
                           :language         "Language ID should express a correct, supported language code."
                           :lang             "Language ID should express a correct, supported language code."}

   :tongue/pluralizer amelinium.i18n.pluralizers/en}}}

