{:amelinium.i18n/translations
 {:pl
  {:amelinium/missing-key "Brakujący klucz: {1}"
   :http-code             {:100 "Kontynuacja"
                           :101 "Zmiana protokołów"
                           :102 "Przetwarzanie"
                           :103 "Wczesne wskazówki"
                           :200 "OK"
                           :201 "Utworzono"
                           :202 "Zaakceptowano"
                           :203 "Informacja nieautorytatywna"
                           :204 "Brak zawartości"
                           :205 "Zresetuj zawartość"
                           :206 "Zawartość częściowa"
                           :207 "Multi-Status"
                           :208 "Już zgłoszono"
                           :226 "Użyto IM"
                           :400 "Niepoprawne żądanie"
                           :401 "Błąd uwierzytelnienia"
                           :402 "Wymagana płatność"
                           :403 "Brak dostępu"
                           :404 "Nie znaleziono"
                           :405 "Niedozwolona metoda"
                           :406 "Nieakceptowalny rodzaj zawartości"
                           :407 "Wymagane uwierzytelnienie proxy"
                           :408 "Przekroczony czas żądania"
                           :409 "Konflikt"
                           :410 "Usunięto"
                           :411 "Wymagana długość"
                           :412 "Niespełniony warunek wstępny"
                           :413 "Parametr żądania jest za duży"
                           :414 "URI żądania jest zbyt długi"
                           :415 "Nieobsługiwany typ mediów"
                           :416 "Żądany zakres niemożliwy do dostarczenia"
                           :417 "Niespełnione wymaganie"
                           :418 "Jestem herbacianą filiżanką"
                           :420 "Wzmocnij swoje ukojenie"
                           :421 "Błędnie ukierunkowane żądanie"
                           :422 "Błędny parametr"
                           :423 "Zablokowano"
                           :424 "Niespełniona zależność"
                           :425 "Zbyt wcześnie"
                           :426 "Wymagana aktualizacja"
                           :428 "Wymagany warunek wstępny"
                           :429 "Zbyt wiele żądań"
                           :431 "Pola nagłówkowe żądania zbyt duże"
                           :449 "Spróbuj z"
                           :450 "Blocked By Windows Parental Controls"
                           :451 "Niedostępne z powodów prawnych"
                           :500 "Wewnętrzny błąd serwera"
                           :501 "Niezaimplementowano"
                           :502 "Zła brama"
                           :503 "Usługa niedostępna"
                           :504 "Brama przekroczyła czas oczekiwania"
                           :505 "Nieobsługiwana wersja HTTP"
                           :506 "Cykliczne odwołania podczas ustalania rodzaju zawartości"
                           :507 "Niewystarczająca ilość miejsca"
                           :508 "Wykryto pętlę"
                           :509 "Przekroczono limit pasma"
                           :510 "Nie rozszerzono"
                           :511 "Wymagane uwierzytelnienie sieciowe"
                           :598 "Przekroczono czas odczytu z sieci"
                           :599 "Przekroczono czas połączenia sieciowego"}
   :ok                    "Sukces!"
   :error                 {:ok                "Sukces!"
                           :authorization     "Brak dostępu."
                           :authentication    "Błąd uwierzytelniania."
                           :not-found         "Nie znaleziono."
                           :session           "Błąd sesji."
                           :bad-parameters    "Twoja aplikacja wysłała błędne parametry."
                           :parameters        "Błędne parametry."
                           :parameter         "Parametr {1} jest błędny."
                           :parameter-of-type "Parametr typu {1} jest błędny."
                           :parameter-name    "{1} wymaga poprawy."
                           :type-name         "{1} wymaga poprawy."}
   :session               {:ok                   "Sesja jest poprawna."
                           :unknown-session-id   "Odebrano nieznany identyfikator sesji."
                           :no-session-id        "Brak wymaganego identyfikatora sesji."
                           :malformed-session-id "Identyfikator sesji jest uszkodzony."
                           :malformed-user-id    "Identyfikator użytkownika jest niepoprawny."
                           :malformed-user-email "E-mail użytkownika jest niepoprawny."
                           :bad-creation-time    "Czas utworzenia sesji jest niewłaściwy."
                           :bad-last-active-time "Czas ostatniej aktywności jest niewłaściwy."
                           :expired              "Sesja wygasła. Zaloguj się ponownie."
                           :insecure             "Sesja powinna być zabezpieczona dodatkowym tokenem."
                           :bad-security-token   "Przesłano niewłaściwy token bezpieczeństwa."
                           :bad-ip               "Bieżący adres IP jest różny od adresu, z którego rozpoczęto sesję."
                           :db-problem           "Wystąpił tymczasowy problem z dostępem do bazy sesji."
                           :unknown-error        "Wystąpił nieznany błąd związany z sesją."
                           :missing              "Brak sesji użytkownika."}
   :auth                  {:ok            "Udane logowanie!"
                           :session-error "Błąd podczas tworzenia sesji! Spróbuj za kilka minut, a jeżeli błąd się powtarza, skontaktuj się z pomocą techniczną."
                           :locked        "Konto zablokowane! Skontaktuj się z pomocą techniczną."
                           :soft-locked   "Dostęp tymczasowo zablokowany z powodu zbyt wielu nieudanych prób logowania."
                           :bad-password  "Nieprawidłowa nazwa użytkownika lub hasło."}
   :roles-table           {:present-label "TAK"
                           :missing-label "—"
                           :global-label  "[KAŻDY]"
                           :global-marker " (globalna)"
                           :context-label "Klient"
                           :roles-label   "Role"}
   :roles                 {:admin     "Administrator organizacji"
                           :manager   "Menedżer organizacji"
                           :tester    "Tester"
                           :anonymous "Użytkownik anonimowy"
                           :known     "Użytkownik niezalogowany"
                           :user      "Użytkownik zalogowany"
                           :self      "Właściciel zasobu"
                           :banned    "Konto zablokowane"}
   :parameter             {:phone            "Numer telefoniczny"
                           :email            "Adres e-mailowy"
                           :login            "Login"
                           :password         "Hasło"
                           :password-relaxed "Hasło"
                           :name             "Imię"
                           :last-name        "Nazwisko"
                           :second-name      "Drugie imię"
                           :middle-name      "Drugie imię"
                           :token            "Token"
                           :session-id       "Identyfikator sesji"
                           :language         "Identyfikator języka"
                           :lang             "Identyfikator języka"}
   :parameter-type        {:string            "Napis tekstowy"
                           :integer           "Liczba"
                           :boolean           "Pole decyzji"
                           :phone             "Numer telefoniczny"
                           :email             "Adres e-mailowy"
                           :password          "Hasło"
                           :password-relaxed  "Hasło"
                           :name              "Imię"
                           :token             "Token"
                           :session-id        "Identyfikator sesji"
                           :secure-session-id "Bezpieczny identyfikator sesji"
                           :language          "Identyfikator języka"}
   :type-should           {:phone             "Numer telefoniczny powinien zawierać kod kraju ze znakiem plusa."
                           :email             "Adres e-mailowy powinien zawierać część lokalną i poprawną domenę."
                           :password          "Hasło powinno mieć przynajmniej 8 znaków, zawierać duże i małe litery, cyfrę i znak specjalny."
                           :password-relaxed  "Należy podać hasło."
                           :name              "Imię powinno składać się ze zwykłych znaków i opcjonalnego łącznika, bez białych znaków (spacji)."
                           :token             "Token powinien być łańcuchem znakowym reprezentującym liczbę w zapisie szesnastkowym."
                           :session-id        "Identyfikator sesji powinien być jednym lub dwoma łańcuchami znakowymi w zapisie szesnastkowym."
                           :secure-session-id "Bezpieczny identyfikator sesji powinien być jedną lub dwoma liczbami szesnastkowymi oddzielonymi dywizem."
                           :language          "Identyfikator języka powinien wyrażać poprawny kod obsługiwanego języka."}
   :parameter-should      {:phone                     :type-should/phone
                           :email                     :type-should/email
                           :login                     "Login powinien być poprawnym adresem e-mailowym."
                           :password                  :type-should/password
                           :password-relaxed          :type-should/password-relaxed
                           :password.password         "Hasło powinno mieć przynajmniej 8 znaków, zawierać duże i małe litery, cyfrę i znak specjalny."
                           :password.password-relaxed "Należy podać hasło."
                           :name                      :type-should/name
                           :last-name                 "Nazwisko może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :second-name               "Drugie imię może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :middle-name               "Drugie imię może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :token                     :type-should/token
                           :session-id                :type-should/session-id
                           :language                  :type-should/language
                           :lang                      :type-should/language}

   :tongue/pluralizer amelinium.i18n.pluralizers/pl}}}
