{:amelinium.i18n/translations
 {:pl
  {:amelinium/missing-key "Brakujący klucz: {1}"
   :info                  {:ok                  "OK"
                           :continue            "Można kontynuować"
                           :switching-protocols "Zmiana protokołów"
                           :processing          "Przetwarzanie"
                           :early-hints         "Wstępne wskazówki"}
   :ok                    {:ok                            "OK"
                           :found                         "OK"
                           :created                       "Utworzono"
                           :accepted                      "Zaakceptowano"
                           :non-authoritative-information "Informacja nieautorytatywna"
                           :no-content                    "Brak zawartości"
                           :reset-content                 "Zresetuj zawartość"
                           :partial-content               "Zawartość częściowa"
                           :multi-status                  "Multi-Status"
                           :already-reported              "Już zgłoszono"
                           :im-used                       "Użyto IM"
                           :in-progress                   "Operacja w toku..."}
   :error                 {:ok                                   "Sukces!"
                           :authorization                        "Brak dostępu."
                           :authentication                       "Błąd uwierzytelniania."
                           :session                              "Błąd sesji."
                           :bad-parameters                       "Otrzymano błędne parametry."
                           :parameters                           "Błędne parametry."
                           :parameter                            "Parametr {1} jest błędny."
                           :parameter-of-type                    "Parametr typu {1} jest błędny."
                           :parameter-name                       "{1} wymaga poprawy."
                           :type-name                            "{1} wymaga poprawy."
                           :bad-request                          "Niepoprawne żądanie"
                           :unauthorized                         "Błąd uwierzytelnienia"
                           :payment-required                     "Wymagana płatność"
                           :forbidden                            "Brak dostępu"
                           :not-found                            "Nie znaleziono"
                           :method-not-allowed                   "Niedozwolona metoda"
                           :not-acceptable                       "Nieakceptowalny rodzaj zawartości"
                           :proxy-authentication-required        "Wymagane uwierzytelnienie proxy"
                           :request-timeout                      "Przekroczony czas żądania"
                           :conflict                             "Konflikt"
                           :gone                                 "Usunięto"
                           :length-required                      "Wymagana długość"
                           :precondition-failed                  "Niespełniony warunek wstępny"
                           :request-entity-too-large             "Parametr żądania jest za duży"
                           :request-uri-too-long                 "URI żądania jest zbyt długi"
                           :unsupported-media-type               "Nieobsługiwany typ mediów"
                           :requested-range-not-satisfiable      "Żądany zakres niemożliwy do dostarczenia"
                           :expectation-failed                   "Niespełnione wymaganie"
                           :im-a-teapot                          "Jestem herbacianą filiżanką"
                           :enhance-your-calm                    "Wzmocnij swoje ukojenie"
                           :misdirected-request                  "Błędnie ukierunkowane żądanie"
                           :unprocessable-entity                 "Błędny podmiot żądania"
                           :locked                               "Zablokowano"
                           :failed-dependency                    "Niespełniona zależność"
                           :too-early                            "Zbyt wcześnie"
                           :unordered-collection                 "Kolekcja nieuporządkowana"
                           :upgrade-required                     "Wymagana aktualizacja"
                           :precondition-required                "Wymagany warunek wstępny"
                           :too-many-requests                    "Zbyt wiele żądań"
                           :request-header-fields-too-large      "Pola nagłówkowe żądania zbyt duże"
                           :retry-with                           "Spróbuj z"
                           :blocked-by-windows-parental-controls "Blocked By Windows Parental Controls"
                           :unavailable-for-legal-reasons        "Niedostępne z powodów prawnych"}
   :server-error          {:ok                              "OK"
                           :internal                        "Wewnętrzny błąd serwera"
                           :not-implemented                 "Nie zaimplementowano"
                           :bad-gateway                     "Zła brama sieciowa"
                           :service-unavailable             "Usługa niedostępna"
                           :gateway-timeout                 "Przekroczony czas oczekiwania w komunikacji z bramą"
                           :http-version-not-supported      "Nieobsługiwana wersja HTTP"
                           :variant-also-negotiates         "Cykliczne odwołania podczas ustalania rodzaju zawartości"
                           :insufficient-storage            "Niewystarczająca ilość miejsca"
                           :loop-detected                   "Wykryto pętlę"
                           :bandwidth-limit-exceeded        "Przekroczono limit pasma"
                           :not-extended                    "Nie rozszerzono"
                           :network-authentication-required "Wymagane uwierzytelnienie sieciowe"
                           :network-read-timeout            "Przekroczono czas odczytu z sieci"
                           :network-connect-timeout         "Przekroczono czas połączenia sieciowego"}
   :session               {:ok                   "Sesja jest poprawna."
                           :unknown-id           "Odebrano nieznany identyfikator sesji."
                           :no-session-id        "Brak wymaganego identyfikatora sesji."
                           :malformed-session-id "Identyfikator sesji jest uszkodzony."
                           :malformed-user-id    "Identyfikator użytkownika jest niepoprawny."
                           :malformed-user-email "E-mail użytkownika jest niepoprawny."
                           :bad-creation-time    "Czas utworzenia sesji jest niewłaściwy."
                           :bad-last-active-time "Czas ostatniej aktywności jest niewłaściwy."
                           :expired              "Sesja wygasła. Zaloguj się ponownie."
                           :insecure             "Sesja powinna być zabezpieczona dodatkowym tokenem."
                           :bad-security-token   "Przesłano niewłaściwy token bezpieczeństwa."
                           :bad-ip               "Bieżący adres IP jest różny od adresu, z którego rozpoczęto sesję."
                           :db-problem           "Wystąpił tymczasowy problem z dostępem do bazy sesji."
                           :unknown-error        "Wystąpił nieznany błąd związany z sesją."
                           :missing              "Brak sesji użytkownika."}
   :auth                  {:ok            "Udane logowanie!"
                           :session-error "Błąd podczas tworzenia sesji! Spróbuj za kilka minut, a jeżeli problem się powtarza, skontaktuj się z pomocą techniczną."
                           :locked        "Konto zablokowane! Skontaktuj się z pomocą techniczną."
                           :soft-locked   "Dostęp tymczasowo zablokowany z powodu zbyt wielu nieudanych prób logowania."
                           :bad-password  "Nieprawidłowa nazwa użytkownika lub hasło."}
   :roles-table           {:present-label "TAK"
                           :missing-label "—"
                           :global-label  "[KAŻDY]"
                           :global-marker " (globalna)"
                           :context-label "Klient"
                           :roles-label   "Role"}
   :roles                 {:admin     "Administrator organizacji"
                           :manager   "Menedżer organizacji"
                           :tester    "Tester"
                           :anonymous "Użytkownik anonimowy"
                           :known     "Użytkownik niezalogowany"
                           :user      "Użytkownik zalogowany"
                           :self      "Właściciel zasobu"
                           :banned    "Konto zablokowane"}
   :output                {:error "Błędne dane wyjściowe"}
   :parameters            {:error "Błędne parametry"}
   :parameter             {:phone                 "Numer telefoniczny"
                           :email                 "Adres e-mailowy"
                           :login                 "Login"
                           :password              "Hasło"
                           :password-relaxed      "Hasło"
                           :name                  "Imię"
                           :first-name            "Imię"
                           :last-name             "Nazwisko"
                           :second-name           "Drugie imię"
                           :middle-name           "Drugie imię"
                           :user.phone            :parameter/phone
                           :user.email            :parameter/email
                           :user.login            :parameter/login
                           :user.password         :parameter/password
                           :user.password-relaxed :parameter/password-relaxed
                           :user.name             :parameter/name
                           :user.first-name       :parameter/first-name
                           :user.last-name        :parameter/last-name
                           :user.second-name      :parameter/second-name
                           :user.middle-name      :parameter/middle-name
                           :token                 "Token"
                           :session-id            "Identyfikator sesji"
                           :language              "Identyfikator języka"
                           :lang                  "Identyfikator języka"}
   :parameter-type        {:string            "Napis tekstowy"
                           :integer           "Liczba"
                           :boolean           "Pole decyzji"
                           :phone             "Numer telefoniczny"
                           :email             "Adres e-mailowy"
                           :password          "Hasło"
                           :password-relaxed  "Hasło"
                           :name              "Imię"
                           :token             "Token"
                           :session-id        "Identyfikator sesji"
                           :secure-session-id "Bezpieczny identyfikator sesji"
                           :language          "Identyfikator języka"}
   :type-should           {:phone             "Numer telefoniczny powinien zawierać kod kraju ze znakiem plusa."
                           :email             "Adres e-mailowy powinien zawierać część lokalną i poprawną domenę."
                           :password          "Hasło powinno mieć przynajmniej 8 znaków, zawierać duże i małe litery, cyfrę i znak specjalny."
                           :password-relaxed  "Należy podać hasło."
                           :name              "Imię powinno składać się ze zwykłych znaków i opcjonalnego łącznika, bez białych znaków (spacji)."
                           :token             "Token powinien być łańcuchem znakowym reprezentującym liczbę w zapisie szesnastkowym."
                           :session-id        "Identyfikator sesji powinien być jednym lub dwoma łańcuchami znakowymi w zapisie szesnastkowym."
                           :secure-session-id "Bezpieczny identyfikator sesji powinien być jedną lub dwoma liczbami szesnastkowymi oddzielonymi dywizem."
                           :language          "Identyfikator języka powinien wyrażać poprawny kod obsługiwanego języka."}
   :parameter-should      {:phone                          :type-should/phone
                           :email                          :type-should/email
                           :login                          "Login powinien być poprawnym adresem e-mailowym."
                           :password                       :type-should/password
                           :password-relaxed               :type-should/password-relaxed
                           :password.password              "Hasło powinno mieć przynajmniej 8 znaków, zawierać duże i małe litery, cyfrę i znak specjalny."
                           :password.password-relaxed      "Należy podać hasło."
                           :name                           :type-should/name
                           :first-name                     :type-should/name
                           :last-name                      "Nazwisko może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :second-name                    "Drugie imię może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :middle-name                    "Drugie imię może zawierać litery i opcjonalny łącznik, ale bez białych znaków (spacji)."
                           :user.phone                     :type-should/phone
                           :user.email                     :type-should/email
                           :user.login                     :parameter-should/login
                           :user.password                  :type-should/password
                           :user.password-relaxed          :type-should/password-relaxed
                           :user.password.password         :parameter-should/password.password
                           :user.password.password-relaxed :parameter-should/password.password-relaxed
                           :user.name                      :type-should/name
                           :user.first-name                :type-should/name
                           :user.last-name                 :parameter-should/last-name
                           :user.second-name               :parameter-should/second-name
                           :user.middle-name               :parameter-should/middle-name
                           :token                          :type-should/token
                           :session-id                     :type-should/session-id
                           :language                       :type-should/language
                           :lang                           :type-should/language}

   :tongue/pluralizer amelinium.i18n.pluralizers/pl}}}
